:root {
  --darkerGradientPoint: #111827;
  --lighterGradientPoint: #1d2635;
  --borderColor: rgb(71, 80, 92);
  --headerColor: rgba(30, 40, 54, .8);
  --drawerColor: rgba(30, 40, 54, .9);
  --lighterBorderColor: rgb(255 255 255 / 20%);
  --selectorBackgroundColor: rgb(55, 65, 81);
  --btnSubmitColor: rgb(61, 54, 178);
  --btnSubmitBorderColor: rgb(117 111 226);
  --checkboxCheckedBgColor: rgb(79, 70, 229);
  --backgroundGradient: linear-gradient(0deg, var(--darkerGradientPoint) 35%, var(--lighterGradientPoint));
  --cardBackgroundGradient: linear-gradient(0deg, var(--darkerGradientPoint), var(--lighterGradientPoint) 25%);
  --hoverGradient: linear-gradient(130deg, rgb(255 255 255 / 20%) 20%, rgb(255 255 255 / 10%) 40%);
  --activeColor: rgb(201 143 255 / 40%);
}



.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator {
  background: rgb(31, 80, 189);
  border: var(--lighterBorderColor) solid var(--borderWidth);
}

.playedIndicator {
  background: rgb(34, 197, 94);
  border: var(--lighterBorderColor) solid var(--borderWidth);
}

.cardOverlayContainer {
  border: solid rgb(255 255 255 / 65%) var(--borderWidth);
  background: var(--hoverGradient);
}

.cardBox:not(.visualCardBox) .cardPadder {
  background-color: var(--lighterGradientPoint);
}

.detailRibbon {
  background-color: transparent;
}

.detailPageWrapperContainer {
    background: linear-gradient(0deg,var(--darkerGradientPoint) 85%,transparent);
}

.nowPlayingPlaylist,
.nowPlayingContextMenu,
html {
  background: var(--backgroundGradient);
}

.backgroundContainer:not(.withBackdrop) {
  background: var(--backgroundGradient);
}

.backgroundContainer.withBackdrop {
  background: var(--backgroundGradient);
}

.skinHeader-blurred:not(.osdHeader) {
  background-color: var(--headerColor) !important;
}

.skinHeader:not(.osdHeader) {
  border-color: var(--borderColor);
}


.emby-select-withcolor,
.emby-select,
.emby-input,
.emby-textarea {
  background-color: var(--selectorBackgroundColor);
  border: var(--lighterBorderColor) solid var(--borderWidth);
}

.btnPlay {
  background-color: rgba(255, 255, 255, .05);
  border: solid var(--lighterBorderColor) var(--borderWidth);
}

.inputContainer .emby-input-iconbutton {
  color: rgba(255, 255, 255, .5);
}

.searchfields-icon {
  color: rgba(255, 255, 255, .5);
}

.searchfields-icon:hover,
.searchfields-icon:active,
.inputContainer .emby-input-iconbutton:hover,
.inputContainer .emby-input-iconbutton:active {
  color: rgba(255, 255, 255, .8);
}

.button-link {
  color: rgb(200, 200, 200);
}

.button-link:hover {
  color: rgb(243, 243, 243) !important;
}

.mainDrawer,
.drawer-open {
  background-color: var(--drawerColor);
  border-right: solid var(--borderColor) var(--borderWidth);
}

.detailButton {
  border: solid var(--lighterBorderColor) var(--borderWidth);
}

.button-flat:hover {
  background-color: rgba(255, 255, 255, .2);
}



.itemDetailsGroup {
  outline: var(--borderWidth) solid var(--borderColor);
}

.itemDetailsGroup>div:not(:last-child) {
  border-bottom: solid var(--borderColor) var(--borderWidth);
}

.detailsGroupItem>.label {
  font-weight: 600;
}

.dialog {
  background-color: var(--drawerColor);
  border: solid var(--borderColor) var(--borderWidth);
}

.selectionCommandsPanel {
  background: var(--lighterGradientPoint);
  border-bottom: solid var(--borderColor) var(--borderWidth);
}

.emby-checkbox:checked+span+.checkboxOutline {
  background: transparent;
  border-color: white;
}

.indicator {
  border: solid rgb(124 124 124 / 50%) var(--borderWidth);
}

.defaultCardBackground,
.cardScalable {
  background: var(--cardBackgroundGradient) !important;
}

.emby-button.block,
.button-alt,
.raised,
#btnDeleteImage,
.dashboardActionsContainer>.emby-button {
  color: #fff;
  background: var(--lighterGradientPoint);
  border: solid var(--borderColor) var(--borderWidth);
}

.fab {
  color: #fff;
  background: var(--lighterGradientPoint);
  border: solid var(--borderColor) var(--borderWidth);
}

#btnDeleteImage,
.button-delete {
  background: rgb(169, 29, 29);
  border: solid rgb(217, 84, 84) var(--borderWidth);
}

.button-submit {
  background: var(--btnSubmitColor) !important;
  border: solid var(--btnSubmitBorderColor) var(--borderWidth) !important;
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear) {
  background-color: var(--headerColor);
}

.visualCardBox,
.paperList {
  background-color: var(--headerColor) !important;
  border: solid var(--borderColor) var(--borderWidth) !important;
}

.listItemIcon:not(.listItemIcon-transparent) {
  background-color: var(--lighterGradientPoint) !important;
}

.MuiAppBar-root {
  background: var(--headerColor);
  border-bottom: solid var(--borderColor) var(--borderWidth);
}

.MuiDrawer-paper {
  background: var(--drawerColor);
  border-right: solid var(--borderColor) var(--borderWidth);
}

.navMenuOption {
  border-radius:var(--smallRadius)!important;
  margin:.5em 1em!important;
}

.listItem:hover,.navMenuOption:hover{
    background:rgba(255,255,255,.125);
}

.navMenuOption-selected {
  background-color: var(--activeColor) !important;
  border: solid var(--lighterBorderColor) var(--borderWidth);
}

.Mui-selected {
  background-color: var(--activeColor) !important;
  border: solid var(--lighterBorderColor) var(--borderWidth) !important;
}

.sliderBubble {
    border:solid var(--borderWidth
